# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Ignore vscode workspace settings.
.vscode/

# Ignore emacs backup files
*~

# Ignore vim swap files
*.swp

# Generated protobuf readme
readme.txt

# Vagrant boxes
.vagrant

# Compiled binaries
bin/*

# Ignore log files
*.log
